.none {
  padding: 0;
}

.small {
  padding: .125rem;
}

.medium {
  padding: .25rem;
}

.large {
  padding: .5rem;
}

.xlarge {
  padding: 1rem;
}

.hSmall {
  padding-left: .125rem;
  padding-right: .125rem;
}

.vSmall {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.hLarge {
  padding-left: .5rem;
  padding-right: .5rem;
}

.hXLarge {
  padding-left: 1rem;
  padding-right: 1rem;
}

